button {
    float: left;
    width:100%;
    height: 40px;
    font-size: 20px;
    margin-bottom: 20px;
    
}

#main {
    margin: auto;
    width: 30%;
    background-color: lightblue;
    text-align: center;
    padding: 40px;
}

#buttonContainer {
    width: 100%;
    float: left;
    text-align: center;
}

a {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-decoration: none;
}